* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url(img/Paisagem.jpg);
    background-size: cover;
}

.text-center {
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 220px;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.548),
        0 0 10px rgba(255, 255, 255, 0.26),
        0 0 15px rgba(255, 255, 255, 0.5);
}

.paragraph {
    color: #ffffff;
    text-align: center;
    padding: 0 23rem;
    margin-top: 10px;
    line-height: 1.6;
}