* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(90deg, #0f0f0f, #2b2b2b);
    background-color: #000000;
}

.text-center {
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 240px;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.548),
        0 0 10px rgba(255, 255, 255, 0.26),
        0 0 15px rgba(255, 255, 255, 0.233);
}

.paragraph {
    color: #ffffff;
    text-align: center;
    padding: 0 23rem;
    margin-top: 10px;
    line-height: 1.6;
}